# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

rm_reads.config
rm_reads.creator
rm_reads.creator.user
rm_reads.files
rm_reads.includes
*.fastq
